@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.container{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container { width: 750px;}
}

@media (min-width: 992px) {
	.container { width: 970px;}
}

@media (min-width: 1200px) {
	.container { width: 1170px; }
}


/* header section */

#masthead{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 105px;
}

@media (max-width:1017px) {
	#masthead{
		flex-direction: column;
	height: 302px;
	}
}

#site-navigation{
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media (max-width:1017px) {
	#site-navigation{
		flex-direction: column;
		text-align: center;
	}
}

.nav-list__item{
	list-style: none;
}

.menu-primary-menu-container{
	width: 311px;
	display: flex;
	justify-content: flex-end;
}

@media( max-width:1017px) {
	.menu-primary-menu-container {
		flex-direction: column;
	}
}

@media( max-width:1017px) {
	#primary-menu {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.menu-item a{
	margin-right: 31px;
	color: #222222;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	border-radius: 3px;
}

.menu-item a:hover{
	background-color: #ef4634;
	color: #fff;
}

.nav-link{
	width: 150px;
	height: 20px;
	border-radius: 3px !important;
	border: 1px solid #62585f !important;
}
.current-menu-item a {
	background-color: #ef4634;
	color: #fff;
}

/* footer section */

.site-info{
	text-align: center;
	display: flex;
	justify-content: center;
}

.site-info {
	font-family: 'Open sans',sans-serif;
	font-size: 14px;
	color: #62585f;
}

.red{
	font-size: 14px;
	font-family: 'Open sans'sans-serif;
	color: #ef4634;
}

.red:hover{
	text-decoration: underline;
}

.blog-column{
	float: left;
	width: 70%;
}

.sidebar-column{
	float: right;
	width: 30%;
	padding-left: 40px;
}

.row::after{
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 800px) {
	.blog-column, .sidebar-column {
		width: 100%;
		padding: 0;
	}
}

/* Contacts section */

.contacts-aboutUs{
	display: flex;
	margin-bottom: 63px;
}

@media(max-width:992px){
	.contacts-aboutUs{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.about-box{
	width: 50%;
	margin-right: 52px;
}

@media (max-width: 992px) {
	.about-box{
		margin:0px;
	}
	.about-heading{
		text-align: center;
	}
	.about-para{
		text-align: center;
		margin: 0px !important;
	}
	.link{
		text-align: center;
	}
	.contactUs p{
		text-align: center;
	}
	.contact-icon-links{
		text-align: center;
	}
}

.about-heading{
	font-family: 'Open sans',sans-serif;
	font-weight: normal ;
	font-size: 25px;
	color: #62585f;
	text-shadow: 2px 2px #fff;
}

.about-para{
	font-family: 'Open sans',sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #62585f;
	line-height: 21px;
	margin: 0px;
}

.link{
	font-family: 'Open sans',sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #ef4634;
}

.link:hover{
	text-decoration: underline;
}

#contacts-fb{
	background: url("./images/social.png") 0 0;
	width: 40px;
	height: 40px;
}

#contacts-ggl{
	background: url("./images/social.png") -45px 0;
	width: 40px;
	height: 40px;
}

#contacts-ldin{
	background: url("./images/social.png") -45px 40px;
	width: 40px;
	height: 40px;
}

#contacts-pin{
	background: url("./images/social.png") -135px 0px;
	width: 40px;
	height: 40px;
}

#contacts-twitter{
	background: url("./images/social.png") -180px 0;
	width: 40px;
	height: 40px;
}

